<div class="container mt-2 mb-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Телефон</th>
                <th scope="col">Дата создания заказа</th>
                <th scope="col">Название рациона питания</th>
                <th scope="col">Период доставки (с)</th>
                <th scope="col">Период доставки (по)</th>
                <th scope="col">Расписание доставки</th>
                <th scope="col">Подробности</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row"><a href="order/{{ order.id }}">{{ order.id }}</a></th>
                    <td>{{ order.full_name }}</td>
                    <td>{{ order.phone_num }}</td>
                    <td>{{ order.order_creation_date }}</td>
                    <td>{{ order.name_of_the_diet }}</td>
                    <td>{{ order.start_of_delivery }}</td>
                    <td>{{ order.end_of_delivery }}</td>
                    <td>{{ order.delivery_schedule }}</td>
                    <td><a href="order/{{ order.id }}">Подробнее</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>